/*
 * Chunan Huang
 */ 


/* global setup */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.tab { 
	display:inline-block; 
	margin-left: 40px; 
}


/* ------------ top part ------------------ */

.top_part{
	position: fixed;
	background-color:#222;
	width:100%;
	z-index:999;
}

header .row,
footer .row {
	display: flew;
	align-items: center;
}


/* nv bar Part*/
header nav {
	display: flex;
	justify-content: flex-start;
	margin-top:10px;
/*	margin-bottom:5px;*/

}
header nav p {
	font-size: 20px;
	margin-right: 40px;
}

header a{
	text-decoration: none !important;
}
header a:hover {
	color: #fff;
}
#language{
	margin-top: 10px;
	margin-right: 20px;
}


/* ----------------- Jumbotron ------------------- */
.jumbotron {
	display: flex;
	align-items: center;
	background-image:url("../img/forest.gif");
	background-size: cover;
	color: #ffffff;
	height: 600px;

}

.jumbotron h2 {
	font-size: 80px;
	font-weight: 700;
	margin: 0;
	color: #fff;
}

.jumbotron h3 {
	margin-top:20px;
	font-size: 25px;
	color: #fff;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ----------------- Contents ----------------- */
#content{
	background-image: url("../img/sky.jpg");
}
section .row img {
	/*height: 330px;*/
	height: 100%;
	width: 100%;
}
#profileImg{
	height: 70%;
	width: 70%;
}
section .row{
	margin-top:80px;
	border-style: ridge;

	border-width: 5px;
	background-color: #ffffff;	
}
.col-sm-6 {
	margin: 20px 0px 25px;
}

figure p{

	font-size: 20px;
}

.back_to_top{
	font-size: 20px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------- footer ----------------*/
footer {
	font-size: 20px;
	padding: 20px 0;
}

footer .col-sm-8 {
	margin-top:40px;
	display: flex;
	justify-content: flex-end;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
}






